<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wine Analysis</title>
</head>
<body>
<div class="container">
    <h1>Hola, [[ nombre ]]</h1>

    <div class="table-responsive">

        <table class="table  table-striped align-middle">
            <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Acidez Fija</th>
                <th scope="col">Acidez Volátil</th>
                <th scope="col">Acido Cítrico</th>
                <th scope="col">Azúcar Residual</th>
                <th scope="col">Cloruros</th>
                <th scope="col">Dióxido de Azufre Libre</th>
                <th scope="col">Dióxido de Azufre Total</th>
                <th scope="col">Densidad</th>
                <th scope="col">Ph</th>
                <th scope="col">Sulfatos</th>
                <th scope="col">Alcohol</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td><input type="number"/></td>
                <td><input type="number"/></td>
                <td><input type="number"/></td>
                <td><input type="number"/></td>
                <td><input type="number"/></td>
                <td><input type="number"/></td>
                <td><input type="number"/></td>
                <td><input type="number"/></td>
                <td><input type="number"/></td>
                <td><input type="number"/></td>
                <td><input type="number"/></td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary">Realizar Predicción</button>
</div>
<div id="app">{{message}}</div>
<script type="module">
    import {createApp} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    const app = createApp({
        data: () => ({
            message: 'Hello Vue!'

        })
    })
    app.mount('#app')
</script>

</body>
</html>